:root {
  --font-family: "Jost", sans-serif;
  --content-width: 1160px;
  --content-fluid-width: 1690px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );
  --light-color: #fff;
  --accent-color: #d52027;
  --dark-color: #141024;
  --text-color: rgba(20, 16, 36, 0.7);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/JostRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/JostSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/JostBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.section-offset {
  padding: 120px 0;
}
@media (max-width: 992px) {
  .section-offset {
    padding: 75px 0;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px 30px;
  min-width: 260px;
  background-color: var(--accent-color);
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
}
.btn--dark {
  background-color: var(--dark-color);
}

.section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  color: var(--dark-color);
}
@media (max-width: 768px) {
  .section-title {
    line-height: 130%;
    font-size: 30px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%;
}
.form .just-validate-error-label {
  color: var(--light-color) !important;
  margin-bottom: 3px;
}
.form__input {
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  background: #f6f6f6;
  color: var(--dark-color);
}
.form__input::-webkit-input-placeholder {
  color: var(--text-color);
}
.form__input::-moz-placeholder {
  color: var(--text-color);
}
.form__input:-ms-input-placeholder {
  color: var(--text-color);
}
.form__input::-ms-input-placeholder {
  color: var(--text-color);
}
.form__input::placeholder {
  color: var(--text-color);
}
.form__btn {
  padding: 18px 30px;
}

.phone {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  text-align: right;
  color: var(--light-color);
}

.burger {
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  mix-blend-mode: normal;
  position: relative;
  z-index: 1000;
  width: 44px;
  height: 44px;
}
.burger__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 2px;
  border-radius: 50%;
  background-color: var(--light-color);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger__line:first-child {
  margin-top: -6px;
}
.burger__line:last-child {
  margin-top: 6px;
  width: 13px;
  right: 0;
  -webkit-transform: translateX(-100%) translateY(-50%);
  -ms-transform: translateX(-100%) translateY(-50%);
  transform: translateX(-100%) translateY(-50%);
}
@media (min-width: 992px) {
  .burger {
    display: none;
  }
}

.burger--active .burger__line {
  -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}
.burger--active .burger__line:first-child {
  margin-top: 0px;
  -webkit-transform-origin: 1px 0px;
  -ms-transform-origin: 1px 0px;
  transform-origin: 1px 0px;
  -webkit-transform: rotate(-45deg) translateX(-50%) translateY(-100%);
  -ms-transform: rotate(-45deg) translateX(-50%) translateY(-100%);
  transform: rotate(-45deg) translateX(-50%) translateY(-100%);
}
.burger--active .burger__line:last-child {
  scale: 0;
  display: none;
}

@media (max-width: 576px) {
  .logo {
    width: 136px;
    height: 14px;
  }
}

.tooltip {
  margin-left: 10px;
}
.tooltip__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background: rgba(20, 16, 36, 0.08);
}
.tooltip__btn svg {
  width: 2px;
  height: 12px;
}
.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
}
@media (any-hover: hover) {
  .tooltip__btn:hover + .tooltip__txt {
    opacity: 1;
    visibility: visible;
  }
}
.tooltip__txt {
  padding: 15px 20px;
  background: var(--light-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
  -webkit-box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: block;
  width: 30px;
  height: 30px;
}
.social__link svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--dark-color);
  -o-object-fit: cover;
  object-fit: cover;
}

.tabs__nav {
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  border-bottom: 1px solid rgba(20, 16, 36, 0.11);
}
@media (max-width: 576px) {
  .tabs__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.tabs__nav-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
}
@media (max-width: 576px) {
  .tabs__nav-item {
    margin-right: 40px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
  .tabs__nav-item:not(:last-child) {
    margin-bottom: 12px;
  }
}
.tabs__nav-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  border: 0;
  background-color: transparent;
  color: var(--dark-color);
  cursor: pointer;
}
.tabs__nav-btn:focus {
  background-color: transparent;
  color: var(--accent-color);
}
.tabs__nav-btn--active {
  color: var(--accent-color);
}
.tabs__content {
  max-height: 354px;
}
.tabs__descr {
  padding-right: 20px;
}
.tabs__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--dark-color);
}
.tabs__descr-title {
  display: block;
  margin: 40px 0 20px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
}

.graph-modal__close {
  top: 40px;
  right: 85px;
}
@media (max-width: 768px) {
  .graph-modal__close {
    top: 30px;
    right: 65px;
  }
}
@media (max-width: 1024px) {
  .graph-modal::before {
    display: none;
  }
}

.popup {
  width: 100%;
  max-width: 940px;
  padding: 40px 50px 40px 40px;
}
@media (max-width: 768px) {
  .popup {
    padding: 54px 30px 50px 30px;
  }
}
.popup__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.popup__image {
  width: 160px;
  height: 222px;
  margin-right: 40px;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .popup__image {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}
.popup__title {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
.popup__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
.popup__bottom-content {
  max-height: 354px;
}
.popup .simplebar-vertical {
  background: rgba(20, 16, 36, 0.08);
  width: 5px;
}
.popup .simplebar-scrollbar::before {
  left: 0;
  right: 0;
  opacity: 1;
  background-color: var(--dark-color);
  border-radius: 20px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 992px) {
  .nav__item:not(:last-child) {
    margin: 0;
    margin-bottom: 20px;
  }
}
.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
}
@media (max-width: 992px) {
  .nav__link {
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
    -o-transition: opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
    transition: opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
}
@media (max-width: 576px) {
  .header {
    padding: 10px 0;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .header__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .header__phone {
    margin-left: auto;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    mix-blend-mode: normal;
    position: relative;
    width: 44px;
    height: 44px;
    background: url("../../img/call.svg") center no-repeat;
    font-size: 0;
  }
}

.about {
  background-color: var(--light-color);
}
.about__desc {
  margin: 0;
  max-width: 892px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  color: var(--dark-color);
  margin-bottom: 60px;
}
.about__desc-highlight {
  font-weight: 600;
}
.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 576px) {
  .about__list {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}
.about__item {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1200px) {
  .about__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
.about__digit {
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  color: var(--accent-color);
}
.about__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}

.hero {
  padding-top: 162px;
  min-height: 800px;
  background-color: var(--dark-color);
}
@media (max-width: 576px) {
  .hero {
    padding-top: 111px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  .hero__container {
    position: relative;
  }
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 516px;
}
@media (max-width: 992px) {
  .hero__content {
    max-width: none;
  }
}
@media (max-width: 576px) {
  .hero__content {
    min-height: 476px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.hero__image {
  -webkit-transform: translateX(167px);
  -ms-transform: translateX(167px);
  transform: translateX(167px);
}
@media (max-width: 992px) {
  .hero__image {
    display: none;
  }
}
@media (max-width: 576px) {
  .hero__image {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 273px;
    height: 320px;
    z-index: 500;
    -webkit-transform: translateX(-50%) translateY(-10px);
    -ms-transform: translateX(-50%) translateY(-10px);
    transform: translateX(-50%) translateY(-10px);
  }
}
.hero__title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  color: var(--light-color);
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 30px;
    text-align: center;
  }
}
.hero__title-text {
  display: block;
  max-width: 90%;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-transform: initial;
}
@media (max-width: 576px) {
  .hero__title-text {
    font-size: 16px;
    text-align: center;
    margin: 10px auto 10px;
  }
}
.hero__link {
  max-width: 260px;
}
@media (max-width: 576px) {
  .hero__link {
    position: relative;
    max-width: 100%;
    max-height: 60px;
    width: 100%;
    z-index: 600;
  }
}
@media (max-width: 992px) {
  .hero {
    min-height: auto;
    padding-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .benefits__title {
    margin-bottom: 50px;
  }
}
.benefits__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 576px) {
  .benefits__list {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}
.benefits__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
@media (max-width: 1200px) {
  .benefits__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
.benefits__subtitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
@media (max-width: 576px) {
  .benefits__subtitle {
    margin: 0;
    margin-bottom: 10px;
  }
}
.benefits__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--test-color);
}
@media (max-width: 576px) {
  .benefits__desc {
    margin: 0;
    margin-bottom: 30px;
  }
}

.trainers__wrapper {
  padding-left: max(15px, (100% - var(--content-width)) / 2);
  margin-bottom: 60px;
}
.trainers .swiper-slide {
  width: 360px;
}
@media (max-width: 768px) {
  .trainers .swiper-slide {
    width: 220px;
  }
}
.trainers .trainers__image {
  max-height: 500px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.trainers .trainers__name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
.trainers .trainers__post {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
.trainers .trainers__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--accent-color);
}
.trainers__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .trainers__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.trainers__scroll {
  height: 5px;
  width: 360px;
  background: rgba(20, 16, 36, 0.08);
  margin-bottom: 40px;
}
.trainers__scroll .swiper-scrollbar-drag {
  background-color: var(--dark-color);
}
@media (max-width: 576px) {
  .trainers__btns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.trainers__slider-btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.trainers__slider-btn:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .trainers__slider-btn:not(:last-child) {
    margin-right: auto;
  }
}
.trainers__slider-btn--prev {
  background-image: url("../../img/prev-arrow.svg");
}
.trainers__slider-btn--next {
  background-image: url("../../img/next-arrow.svg");
}

.tarifs {
  padding-top: 0;
}
.tarifs__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 992px) {
  .tarifs__list {
    gap: 20px;
  }
}
.tarifs__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  min-height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
}
.tarifs__item-current {
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.tarifs__item-current .tarifs__caption {
  color: var(--light-color);
}
.tarifs__item-current .tarifs__price {
  color: var(--light-color);
}
.tarifs__item-current .tarifs__subtitle {
  color: var(--light-color);
}
@media (max-width: 768px) {
  .tarifs__item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    min-height: auto;
  }
}
.tarifs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
}
.tarifs__caption::before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
.tarifs__caption::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
@media (max-width: 768px) {
  .tarifs__caption {
    margin-bottom: 40px;
  }
}
.tarifs__price {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
}
@media (max-width: 1024px) {
  .tarifs__price {
    font-size: 38px;
  }
}
.tarifs__subtitle {
  margin-bottom: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
}
@media (max-width: 992px) {
  .tarifs__subtitle {
    font-size: 16px;
  }
}
.tarifs__btn {
  margin-top: 61px;
  min-width: 100%;
}
@media (max-width: 992px) {
  .tarifs__btn {
    padding: 10px 12px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .tarifs__btn {
    margin-top: 40px;
  }
}

.order {
  background-image: url("../../img/percents.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../../img/percents.avif" type("image/avif"), "../../img/percents.webp" type("image/webp"), "../../img/percents.jpg" type("image/jpg"));
  background-image: image-set("../../img/percents.avif" type("image/avif"), "../../img/percents.webp" type("image/webp"), "../../img/percents.jpg" type("image/jpg"));
  padding: 87px 0px;
  background-color: var(--accent-color);
  background-size: cover;
  background-position: bottom center;
}
@media (max-width: 576px) {
  .order {
    padding: 50px 0px;
  }
}
.order__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  .order__container {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.order__left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  padding-left: 60px;
}
@media (max-width: 768px) {
  .order__left {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
    padding: 0px 10px;
  }
}
.order__right {
  grid-column: 7/end;
  padding-right: 60px;
}
@media (max-width: 768px) {
  .order__right {
    min-width: 90vw;
    -ms-grid-column-span: 4;
    grid-column: 4 span;
    padding-right: 0;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
.order__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: var(--light-color);
}
.order__descr {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: var(--light-color);
}
.order__form {
  max-width: 500px;
}
@media (max-width: 992px) {
  .order__form {
    max-width: none;
  }
}

.footer {
  background-color: var(--dark-color);
  padding: 40px 0px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer__logo {
  text-align: left;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .footer__logo {
    margin-bottom: 16px;
  }
}
.footer__phone {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  line-height: 100%;
  font-size: 30px;
}
@media (max-width: 576px) {
  .footer__phone {
    font-size: 18px;
    margin-bottom: 32px;
  }
}
.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */